---
layout: default
title: Home
---

<header class="hero">
	{% include top.html %}
	<div class="poster">
		<a class="logo" href="{{ site.url }}{{ site.baseurl }}">
			<img src="{{ site.icon }}">
		</a>
		<h1>Curveball is a framework for building web services in Node.js</h1>
		<ul class="actions">
			<li><a href="#install" class="button primary icon fa-download"><span class="genericon genericon-cloud-download"></span> Install</a></li>
			<li><a href="#about" class="button"><span class="genericon genericon-expand"></span> Learn More</a></li>
		</ul>
	</div>
</header>

<section id="about" class="wrapper special">
	<header class="major">
		<h2>Curveball is a framework for building web services in Node.js.<br>
		It fullfills a similar role to <a href="https://expressjs.com/" title="Express" rel="nofollow">Express</a> and it's heavily inspired by <a href="https://koajs.com/" title="Koa" rel="nofollow">Koa</a>.
		</h2>
	</header>
	<h2>🧢 🧢 🧢</h2>
</section>
<section id="install" class="wrapper">
	<div class="inner">
		<header class="major">
			<h2>Installation</h2>
		</header>
		<pre><code>npm install @curveball/core</code></pre>
	</div>

</section>
<section id="status" class="wrapper special cta">
	<header class="major">
		<h2>Project status</h2>
		<p>The project is currently alpha quality. I would love some feedback on developer ergonomics. <br>Things might change before a 1.0 release.</p>
	</header>
	<ul class="actions">
		<li><a class="button primary icon fa-download" href="https://github.com/curveballjs" target="_blank" rel="noopener"><span class="genericon genericon-phone"></span> So here's my number</a></li>
		<li><a class="button" href="https://github.com/curveballjs/core/issues" target="_blank" rel="noopener"> call me maybe <span class="genericon genericon-help"></span> </a></li>
	</ul>
</section>
<section id="examples" class="wrapper">
	<div class="inner">

		<header class="major">
			<h2>Code examples</h2>
		</header>

		<section>
			<h4>Doing internal subrequests</h4>
			<p>Many Node.js HTTP frameworks don't easily allow doing internal sub-requests. Instead, they recommend doing a real HTTP request. These requests are more expensive though, as it has to go through the network stack.</p>
			<p>Curveball allows you do do an internal request with 'mock' request and response objects.</p>
			<p>Suggested use cases:</p>
			<ul>							
				<li>Running cheaper integration tests.</li>
				<li>Embedding resources in REST apis.</li>
			</ul>
			<hr>
			<h3>Example</h3>
			<pre>							<code>
import { Application } from '@curveball/core';

const app = new Application();
const response = await app.subRequest('POST', '/foo/bar', { 'Content-Type': 'text/html' }, '&lt;h1&gt;Hi&lt;/h1&gt;');</code>
			</pre>
			<p>Only the first 2 arguments are required. It's also possible to pass a Request object instead.</p>
			<pre>							<code>import { Application, MemoryRequest } from '@curveball/core';

const app = new Application();
const request = new MemoryRequest('POST', '/foo/bar', { 'Content-Type': 'text/html' }, '&lt;h1&gt;Hi&lt;/h1&gt;');
const response = await app.subRequest(request);</code>
			</pre>

		</section>
	</div>
</section>

<!-- posts? -->

<div id="middle">
	<div id="post-list">
		{% for post in paginator.posts %}
			<div>
				<span class="post-date">{{ post.date | date_to_long_string }}</span>
				<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
				<p class="post-description">{% if post.quote %}{{ post.quote }}{% else %}{{ post.content | strip_html | truncatewords: 50 }}{% endif %}</p>
			</div>
			<br>
		{% endfor %}
	</div>
	<!-- 
	<nav class="pagination" role="navigation">
		{% if paginator.next_page %}
			<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
			{% else %}
				<a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
			{% endif %}
		{% endif %}
	</nav>
	 -->
</div>

<footer>
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>. <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</p>
</footer>
