<div class="navbar">
  <div class="nav-items">
    {% for item in site.menu %}
      {% if item.collection %}
        <div class="dropdown nav-item">
            <a class="dropbtn {% if page.url contains item.url %}active{% endif %}" href="{{ item.url }}">
            {{ item.title }}
            <span class="genericon genericon-expand"></span>
          </a>
          <div class="dropdown-content">
            {% for collection-item in site[item.collection] %}
              <a href="{{ collection-item.url }}" {% if page.url == collection-item.url %}class="active"{% endif %}>{{ collection-item.title }}</a>
            {% endfor %}
          </div>
        </div>

      {% else %}
        <div class="nav-item">
          <a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %}>{{ item.title }}</a>
        </div>
      {% endif %}

	  {% endfor %}
  </div>
  <div class="social-links" data-stellar-ratio="0.1">
    {% for social in site.social %}
      <a href="{{ social.url }}" target="_blank" title="{{ social.desc }}"><span class="genericon genericon-{{ social.icon }}"></span></a>
    {% endfor %}
  </div>
</div>
