.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  background-color: rgb(29, 30, 58);
  align-items: center;
}

.navbar > img {
  height: 70%;
}

.navbar .nav-items {
  flex: 1 1 auto;
}

.nav-item {
  display: inline-block;
}

.navbar .nav-items a {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  padding: 10px 10px 0 10px
}

.navbar .nav-items .active {
  text-decoration: underline;
  text-decoration-color: #46e2e4;
  text-decoration-thickness: 0.1em;
}

.navbar .social-links {
  flex: 0 1 auto;
  margin-left: auto;
}

.navbar .social-links a {
  margin: 0 5px 0 5px;
  color: rgba(255, 255, 255, 0.75);
}

.navbar .social-links a span {
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.navbar .social-links a:hover {
  opacity: 1;
}

.dropdown {
  display: inline-block;
}

.dropdown .dropbtn {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  border: none;
  outline: none;
  vertical-align: middle;
  background-color: inherit;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(29, 30, 58);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown .dropbtn .genericon {
  vertical-align: baseline;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {

}

.dropdown:hover .dropdown-content {
  display: block;
}