---
layout: default
menu:
  - title:        Getting Started
    url_base:          /getting-started
    collection:   getting-started

  - title:        Middleware
    url_base:          /middleware
    collection:   middleware
---

{% include navbar.html %}

<main class="docs-page-wrapper">
	<nav class="docs-navbar">
		<div style="position: sticky; top: 80px;">
			{% for item in layout.menu %}
				<!-- Expandable Sections-->
				{% if item.collection %}
					<details style="padding-left: 10px;" {% if page.url contains item.url_base %}open{% endif %}>
						<summary>{{ item.title }}</summary>
						<div>
							{% for collection-item in site[item.collection] %}
								<div style="padding-left: 10px;">
									<a href="{{ collection-item.url }}">{{ collection-item.title }}</a>
								</div>
							{% endfor %}
						</div>
					</details>
					<!-- </div> -->
				<!-- END Expandable Sections-->

				{% else %}
					<div style="padding-left: 10px;">
						<a href="{{ item.url }}" >{{ item.title }}</a>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</nav>

	<div class="docs-container">
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="page-container">
			<div class="content-container">
				{{ content}}
			</div>
			<div class="page-nav-container">
				<nav style="position: sticky; top: 60px;">
					On Page
					<ul>
						{% for item in page.nav-links %}
							<li><a href="/{{page.permalink}}#{{ item.link }}">{{ item.title }}</a>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</main>

<footer class="clean">
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>.</p>
</footer>
