---
layout: default
menu:
  - title:      Getting Started
    url_base:   /getting-started
    collection: getting-started

  - title:       API
    url_base:    /API
    collection:  api

  - title:      Middleware
    url_base:   /middleware
    collection: middleware

  - title:      Examples
    url_base:   /examples
    collection: examples
---

{% include navbar.html %}

<main class="docs-page-wrapper">
	<input type="checkbox" name="sidebar-toggle" id="sidebar-toggle"/>
	<label for="sidebar-toggle" title="toggle Documentation navigation sidebar" class="button alternate">
		<span class="genericon genericon-menu"></span>
	</label>
	<nav class="docs-navbar">
		<div style="position: sticky; top: 60px;">
			{% for item in layout.menu %}
				<!-- Expandable Sections-->
				{% if item.collection %}
					<details {% if page.url contains item.url_base %}open{% endif %}>
						<summary>{{ item.title }}</summary>
						<div>
							<ul>
							{% for collection-item in site[item.collection] %}
								<li {% if collection-item.badge  %} data-badge={{collection-item.badge}} {% endif %}>
									<a href="{{ collection-item.url }}" {% if page.url == collection-item.permalink %} class="active" {% endif %}>{{ collection-item.title }}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</details>
					<!-- </div> -->
				<!-- END Expandable Sections-->

				{% else %}
					<div style="padding-left: 10px;">
						<a href="{{ item.url }}" >{{ item.title }}</a>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</nav>

	<div class="docs-container">
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			
			{% if page.description %}
			<h4 id="page-description"> {{ page.description }}</h4>
			{% endif %}

			{% if page.repo %}
			<a href="{{ page.repo }}" target="_blank" class="button alternate">Github repo <span class="genericon genericon-external"></span></a>
			{% endif %}

		</div>
		<div class="page-container">
			<div class="content-container">
				{{ content }}
			</div>
			<div class="page-nav-container">
				{% if page.nav-links %}
				<nav>
					On this Page
					<ul>
						{% for item in page.nav-links %}
							<li>
								<span class='genericon genericon-standard'></span>
								<a href="#{{ item.link }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
				{% endif %}
			</div>
		</div>
	</div>
</main>

{% include footer.html %}
