---
layout: default
menu:
  - title:      Getting Started
    url_base:   /docs/getting-started
    collection: getting-started
    collection_items: 
    - title: Introduction
      url: basics

    - title: Node
      url: node

    - title: Bun
      url: bun
      badge: new

    - title: AWS Lambda
      url: aws-lambda

    - title: Azure
      url: azure

  - title:       API
    url_base:    /docs/api
    collection:  api

  - title:      Middleware
    url_base:   /docs/middleware
    collection: middleware

  - title:      Examples
    url_base:   /docs/examples
    collection: examples
---

{% include navbar.html %}

<main class="docs-page-wrapper">
	<input type="checkbox" name="sidebar-toggle" id="sidebar-toggle"/>
	<label for="sidebar-toggle" title="toggle Documentation navigation sidebar" class="button alternate">
		<span class="genericon genericon-menu"></span>
	</label>
	<nav class="docs-navbar">
		<div style="position: sticky; top: 60px;">
			{% for item in layout.menu %}
				<!-- Expandable Sections-->
				{% if item.collection %}
					<details {% if page.url contains item.url_base %}open{% endif %}>
						<summary>{{ item.title }}</summary>
						<div>
							<ul>
							<!-- 
								define collection_items inside a `menu` item 
								in the front matter to manually sort the 
								collection menu items
							--> 
							{% if item.collection_items %}
								{% for collection-item in item.items %}
								<li {% if collection-item.badge  %} data-badge={{collection-item.badge}} {% endif %}>
									<a href="{{ item.url_base }}/{{ collection-item.url }}" {% if page.url == item.url %} class="active" {% endif %}>{{ collection-item.title }}</a>
								</li>
								{% endfor %}
							<!--
								otherwise, look in the collections folder 
								and use default sort
							-->
							{% else %}
								{% for collection-item in site[item.collection] %}
									<li {% if collection-item.badge  %} data-badge={{collection-item.badge}} {% endif %}>
										<a href="{{ collection-item.url }}" {% if page.url == collection-item.permalink %} class="active" {% endif %}>{{ collection-item.title }}</a>
									</li>
								{% endfor %}
							{% endif %}
							</ul>
						</div>
					</details>
					<!-- </div> -->
				<!-- END Expandable Sections-->

				{% else %}
					<div style="padding-left: 10px;">
						<a href="{{ item.url }}" >{{ item.title }}</a>
					</div>
				{% endif %}

			{% endfor %}
		</div>
	</nav>

	<section class="docs-container">
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			
			{% if page.description %}
			<h4 id="page-description"> {{ page.description }}</h4>
			{% endif %}

			{% if page.repo %}
			<a href="{{ page.repo }}" target="_blank" class="button alternate">Github repo <span class="genericon genericon-external"></span></a>
			{% endif %}

		</div>
		<div class="page-container">
			<div class="content-container">
				{{ content }}
			</div>
			<div class="page-nav-container">
				<nav>
					<h5>On this Page</h5>
					<ul>
						{% if page.nav-links %}
						{% for item in page.nav-links %}
							<li>
								<a href="#{{ item.link }}"><span>{{ item.title }}</span></a>
							</li>
						{% endfor %}
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</section>
</main>

<script>

	const headings = document.querySelectorAll('.content-container h2');
	const pageNavList = document.querySelector('.page-nav-container ul');
	// only run if docs page doesn't have it's own list of nav-links
	if(pageNavList.childElementCount === 0 && headings.length > 0) {

		for (const h of headings) {
			let li = document.createElement('li');
			let a =  document.createElement('a');
			a.href = `#${h.id}`;
			a.innerHTML = h.textContent;
			li.appendChild(a);
			pageNavList.appendChild(li);
		}
	}

</script>
{% include footer.html %}
