---
layout: default
title: Home
---

{% include navbar.html %}
<header class="hero">
	<div class="poster">
		<h1 class="logo">
			<img src="{{ site.icon }}" alt="{{site.title}} logo" title="{{ site.title}} - {{ site.tagline }}">
		</h1>
		<h1>A micro-framework for building APIs with Typescript</h1>
		<h3>&nbsp;</h3>
		<ul class="actions">
			<li><a href="#install" class="button primary icon fa-download"><span class="genericon genericon-cloud-download"></span> Install now</a></li>
			<li><a href="#about" class="button"><span class="genericon genericon-expand"></span> Learn More</a></li>
		</ul>
	</div>
</header>

<section id="about" class="wrapper">
	<div class="inner">
		<header class="major">
				<h2>Curveball makes it easy to build developer-friendly HTTP APIs that are simple and robust.</h2>
		</header>
	</div>
		<ul class="inline-blocks">
			<li>
				<span class="genericon genericon-heart" style="color: #ff4e60"></span>
				<strong>A small core.</strong> Curveball is a micro-framework.
			</li>
			<li>
				<span class="genericon genericon-plugin" style="color: #51afb1"></span>
				<strong>Batteries included.</strong> Optional plugins for lots of common tasks.
			</li>
			<li>
				<span class="genericon genericon-flag" style="color: rgb(29, 30, 58);"></span>
				<strong>Gets HTTP.</strong> Use  modern features such as HTTP/2 Push, Content-Negotation, 1xx responses, the Prefer header and Links headers.
			</li>
			<li>
				<span class="genericon genericon-fastforward" style="color: rgba(29, 30, 58, 0.47)"></span>
				<strong>Serverless friendly.</strong> Built-in AWS Lambda support.
			</li>
		</u>
</section>

<section id="install" class="wrapper">
	<div class="inner">
		<header class="major">
			<h2>Install Curveball</h2>
		</header>
		<code>
			<pre>npm install @curveball/core</pre>
		</code>
	</div>
</section>

<section id="info" class="wrapper special cta">
	<header class="major">
		<h2>Get started</h2>
		<p><em>Every Curveball needs a Pitcher</em></p>
	</header>
	<ul class="actions">
		<li><a class="button primary icon" href="/docs" rel="noopener"><span class="genericon genericon-standard"></span> Read the docs</a></li>
		<li><a class="button icon" href="https://github.com/curveball/starter" target="_blank" rel="noopener"> Download starter template <span class="genericon genericon-code"></span> </a></li>
	</ul>
</section>

<section id="examples" class="wrapper">
	<div class="inner">

		<header class="major">
			<h2>Code samples</h2>
		</header>

		<section>
    	{{ content}}
		</section>
	</div>
</section>



<!-- posts? -->

<div id="middle">
	<div id="post-list">
		{% for post in paginator.posts %}
			<div>
				<span class="post-date">{{ post.date | date_to_long_string }}</span>
				<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
				<p class="post-description">{% if post.quote %}{{ post.quote }}{% else %}{{ post.content | strip_html | truncatewords: 50 }}{% endif %}</p>
			</div>
			<br>
		{% endfor %}
	</div>
	<!--
	<nav class="pagination" role="navigation">
		{% if paginator.next_page %}
			<a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
		{% endif %}
		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
			{% else %}
				<a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
			{% endif %}
		{% endif %}
	</nav>
	 -->
</div>

{% include footer.html %}
