---
layout: default
---

{% include navbar.html %}

<header class="page-title">
	<h1>{{ page.title }}</h1>
</header>

<main>
	<section class="page-container">
			<nav class="side-nav-container">
				<div class="side-nav-container">
					Menu
					<ul>
						{% for item in page.nav-links %}
							<li><a href="/{{page.permalink}}#{{ item.link }}">{{ item.title }}</a>
						{% endfor %}
					</ul>
			</div>
		</nav>
		<div class="content-container">
			{{ content}}
		</div>
	</section>
</main>

<footer class="clean">
	<p class="copyright">&copy;{{ site.time | date: "%Y" }}, <a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a>.</p>
</footer>
